<form [formGroup]="cursosForm" (ngSubmit)="onSubmit()">
  <button mat-button class="x" (click)="cerrarModal()">
    <mat-icon aria-label="close-button">clear</mat-icon>
  </button>
  <h2 class="user-form-modal-header">Formulario de Curso</h2> 
  <div class="container">
    <div class="form">
      <mat-form-field class="name">
        <mat-label>Nombre del Curso</mat-label>
        <input formControlName="name" matInput >
      </mat-form-field>
      
      <mat-form-field class="date">
        <mat-label>Dias de Cursada</mat-label>
        <input formControlName="date" matInput />
      </mat-form-field>
      
      <mat-form-field class="hours">
        <mat-label>Horarios</mat-label>
        <input formControlName="hours" matInput  />
      </mat-form-field>
      
      <mat-form-field class="description">
        <mat-label>Descripción</mat-label>
        <input formControlName="description" matInput  />
      </mat-form-field>
      
      <mat-form-field class="price">
        <mat-label>Precio</mat-label>
        <input formControlName="price" matInput />
      </mat-form-field>      

      <button  class="button" mat-button>Cargar</button>
    </div>
  </div>
</form>

