* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.x{
  display: flex;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

form {
  background-color: beige;
  padding: 1rem;
}

.name,.date,.hours,.price,.description{
  width: 100%;
  padding: 8px;
}

.button {
  align-items: center;
  width: 50%;
  height: 50px;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
}

.button:hover {
  background-color: lightgray;
}

.user-form-modal-header {
  margin-top: 10px;
}
