<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <button mat-button class="x" (click)="cerrarModal()">
    <mat-icon aria-label="close-button">clear</mat-icon>
  </button>
  <h2 class="user-form-modal-header">Formulario de Usuario</h2>   
        <mat-form-field class="name">
          <mat-label>Nombre</mat-label>
          <input formControlName="firstName" matInput type="text" />
        </mat-form-field>

        <mat-form-field class="lastname">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastName" matInput type="text" />
        </mat-form-field>

      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" />
        <mat-error *ngIf="userForm.get('email')?.touched && userForm.get('email')?.hasError('email')">
          Por favor, introduce un email válido.
        </mat-error>
      </mat-form-field>
  
        <mat-form-field class="password">
          <mat-label>Contraseña</mat-label>
          <input formControlName="password" matInput type="password" />
          <mat-error *ngIf="userForm.get('password')?.touched && userForm.get('password')?.hasError('invalidPassword')">
            La contraseña debe contener al menos una letra y un número.
          </mat-error>        
        </mat-form-field>
  
        <mat-form-field class="role">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="role">
            <mat-option value="Estudiante">Estudiante</mat-option>
            <mat-option value="Profesor">Profesor</mat-option>
          </mat-select>
        </mat-form-field>
  
        <button type="submit" class="button" mat-button>Cargar</button>
  </form>
  
  