
mat-panel-title {
    display: flex;
    justify-content: center; 
    text-align: center; 
    font-size: large;
}
.container {
    padding: 20px;
  }
  
  .form-container {
    padding: 20px;
    display: flex;
    justify-content: center; 
  }
  
  .form {
    width: 50%; 
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px; 
  }
  
  .mat-form-field:not(:last-child) {
    margin-bottom: 40px; 
  }
  
  .mat-form-field input {
    font-size: 16px;
  }

  .lastname,
  .curso,
  .email,
  .schedule{
    margin-left: 20px;
  }

  .cargar {
    margin-left: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
  }
  
  .cargar:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
