:host {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 1rem;
  }

  
  h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
  }
   
  .x{
    display: flex;
    margin-left: auto;
  }
  