<div>
    <button mat-button class="x" (click)="cerrar()"> <mat-icon aria-label="close-button">clear</mat-icon></button>
    <h2>Detalles del Usuario</h2>
    <p><strong>ID:</strong> {{ Inscripciones.id }}</p>
    <p><strong>Nombre Completo:</strong> {{ Inscripciones.firstName }} {{ Inscripciones.lastName }}</p>
    <p><strong>Email:</strong> {{ Inscripciones.email }}</p>
    <p><strong>Curso:</strong> {{ Inscripciones.curso }}</p>
    <p><strong>Fecha de Cursada:</strong> {{ Inscripciones.date }}</p>
    <p><strong>Horario:</strong> {{ Inscripciones.hours }}</p>
    <p><strong>Rol:</strong> {{ Inscripciones.role }}</p>
    <p><strong>N° de Documento:</strong> {{ Inscripciones.dni }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ Inscripciones.birth }}</p>

  </div>
  